extends includes/layout.pug
block content
  include includes/jumbotron.pug
  .container-fluid.bg-light.text-dark
    .container
      .row
        if data
          each business in data
            .col-sm-6
              .card.my-4
                img.card-img-top.business-image(src=business.image_url)
                .card-body
                  h5.card-title #{business.name}
                  p #{business.category}
                  p #{business.address}
                  a.btn.btn-primary.going-btn(href='#' data-business=business.id) Going
                    span.badge.badge-light.ml-3 0
block scripts
  script(src='/common/ajax-functions.js')
  script(src='/controllers/goingController.client.js')